---
 const personalImageAlt = "Luis"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-500 dark:[&>p>strong]:text-cyan-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Luis, Ingeniero de Software, actualmente cursando un Máster en Ingeniería Informática. Me interesa el <strong>desarrollo full-stack, computación en la nube y la ingeniería de datos,</strong
      >áreas en las que sigo ampliando mis conocimientos mediante formación y proyectos personales.
    </p>
    <p>
      He trabajado en proyectos que integran <strong>análisis de datos y desarrollo web</strong> y actualmente profundizo en el uso de servicios cloud como<strong> AWS y Azure</strong> para comprender su aplicación en entornos reales.
    </p>
  </div>

  <!-- <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%"> -->

</article>


